<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Eventify</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'eventcon-master/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/style.css' %}">
    <style>
        .thumb img {
            width: 100%;
            height: 200px; /* Set a fixed height */
            object-fit: cover; /* Ensure the image maintains its aspect ratio */
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); /* Add glow effect */
            transition: box-shadow 0.3s ease-in-out;
        }

        .thumb img:hover {
            box-shadow: 0 0 30px rgba(255, 255, 255, 1); /* Increase glow on hover */
        }
    </style>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-3">
                                <div class="logo">
                                    <a href="{% url 'home' %}">
                                        <img src="{% static 'eventcon-master/img/logo1.png' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{% url 'home' %}">home</a></li>
                                            <li><a href="{% url 'events' %}">Events</a></li>
                                            <li><a href="{% url 'about' %}">about</a></li>
                                            <li><a href="{% url 'contact' %}">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="buy_tkt">
                                    <div class="book_btn d-none d-lg-block">
                                        <a href="{% url 'events' %}">Buy Tickets</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area -->
    <div class="bradcam_area">
        <div class="single_bradcam  d-flex align-items-center bradcam_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-12">
                        <div class="bradcam_text text-center">
                            <div class="shape_1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                <img src="{% static 'eventcon-master/img/shape/shape_1.svg' %}" alt="">
                            </div>
                            <div class="shape_2 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">
                                <img src="{% static 'eventcon-master/img/shape/shape_2.svg' %}" alt="">
                            </div>
                            <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">About</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area end -->

    <!-- about_area_start  -->
    <div class="about_area black_bg extra_padd">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_title text-center mb-80">
                        <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">About EVENTIFY</h3>
                        <p class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">Discover, book, and enjoy the best events in Albania all in one place!</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
                    <div class="about_thumb">
                        <div class="shap_3  wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                            <img src="{% static 'eventcon-master/img/shape/shape_3.svg' %}" alt="">
                        </div>
                        <div class="thumb_inner  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <img src="{% static 'eventcon-master/img/about/about.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="about_info pl-68">
                        <h4 class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">It’s time to book your
                            seat</h4>
                        <p class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">Eventify is Albania’s go-to platform for discovering and booking events. From nightlife and concerts to festivals and cultural gatherings, we make event discovery seamless. Book tickets easily, explore top events, and enjoy exclusive deals all in one place!</p>
                        <a href="#" class="boxed-btn3  wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s">Buy
                            Tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end  -->

    <!-- performar_area_start  -->
    <div class="performar_area black_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title mb-80">
                        <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">SERVICES</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <div data-tilt class="thumb">
                                    <img src="{% static 'eventcon-master/img/services/2.jpg' %}" alt="">
                                </div>
                                <div class="performer_heading">
                                    <h4>Seamless Experience</h4>
                                    <span>Effortless event browsing and booking.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                <div data-tilt class="thumb">
                                    <img src="{% static 'eventcon-master/img/services/1.jpg' %}" alt="">
                                </div>
                                <div class="performer_heading">
                                    <h4>Event Discovery</h4>
                                    <span>Find the best events near you.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md=6">
                            <div class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                <div data-tilt class="thumb">
                                    <img src="{% static 'eventcon-master/img/services/4.jpg' %}" alt="">
                                </div>
                                <div class="performer_heading">
                                    <h4>Easy Booking</h4>
                                    <span>Get your tickets in a few clicks.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                <div data-tilt class="thumb">
                                    <img src="{% static 'eventcon-master\img\services\3.jpg' %}" alt="">
                                </div>
                                <div class="performer_heading">
                                    <h4>Exclusive Deals</h4>
                                    <span>Enjoy special offers and discounts.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
        <script>
            function initMap() {
                var uluru = {
                    lat: -25.363,
                    lng: 131.044
                };
                var grayStyles = [{
                    featureType: "all",
                    stylers: [{
                        saturation: -90
                    },
                    {
                        lightness: 50
                    }
                    ]
                },
                {
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#ccdee9'
                    }]
                }
                ];
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: {
                        lat: -31.197,
                        lng: 150.744
                    },
                    zoom: 9,
                    styles: grayStyles,
                    scrollwheel: false
                });
            }
        </script>


    <!-- JS here -->
    <script src="{% static 'eventcon-master/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/popper.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/ajax-form.js' %}"></script>
    <script src="{% static 'eventcon-master/js/waypoints.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/scrollIt.js' %}"></script>
    <script src="{% static 'eventcon-master/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/wow.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/gijgo.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/nice-select.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/tilt.jquery.js' %}"></script>
    <script src="{% static 'eventcon-master/js/plugins.js' %}"></script>



    <!--contact js-->
    <script src="{% static 'eventcon-master/js/contact.js' %}"></script>
    <script src="{% static 'eventcon-master/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/jquery.form.js' %}"></script>
    <script src="{% static 'eventcon-master/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/mail-script.js' %}"></script>


    <script src="{% static 'eventcon-master/js/main.js' %}"></script>
</body>

</html>