{% extends "performer.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center">Create New Event</h1>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Event Name</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="id_description">Description</label>
            {{ form.description }}
        </div>
        <div class="form-group">
            <label for="id_start_time">Start Time</label>
            {{ form.start_time }}
        </div>
        <div class="form-group">
            <label for="id_end_time">End Time</label>
            {{ form.end_time }}
        </div>
        <div class="form-group">
            <label for="id_location">Location</label>
            {{ form.location }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Create Event</button>
        </div>
    </form>
</div>
{% endblock %}
