{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Events</h1>
    
    <div class="row">
        {% for event in events %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.name }}">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'event_detail' event.id %}">{{ event.name }}</a></h5>
                    <p class="card-text">{{ event.description|truncatewords:20 }}</p>
                    <p><strong>Location:</strong> {{ event.location.name }}</p>
                    <p><strong>Date:</strong> {{ event.start_time|date:"F j, Y, g:i a" }}</p>
                    <a href="{% url 'event_detail' event.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No events available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
