<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Eventify</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'eventcon-master/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'eventcon-master/css/custom.css' %}">
  
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-3">
                                <div class="logo">
                                    <a href="{% url 'home' %}">
                                        <img src="{% static 'eventcon-master/img/logo1.png' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav class="full-width-nav">
                                        <ul id="navigation">
                                            <li><a href="{% url 'home' %}">home</a></li>
                                            <li><a href="{% url 'events' %}">Events</a></li>
                                            <li><a href="{% url 'about' %}">about</a></li>
                                            {% if user.is_authenticated and user.is_organizer %}
                                                <li><a href="{% url 'organizer_event_list' %}">My Events</a></li>
                                            {% else %}
                                                
                                            {% endif %}
                                            <li><a href="{% url 'user_create' %}">Register</a></li>
                                            <li><a href="{% url 'contact' %}">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="buy_tkt">
                                    <div class="book_btn d-none d-lg-block">
                                        <a href="{% url 'events' %}">Buy Tickets</a>
                                    </div>
                                    {% if user.is_authenticated and user.is_organizer %}
                                    <div class="book_btn d-none d-lg-block">
                                        <a href="{% url 'event_create' %}">Create Event</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <div class="shape_1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                <img src="{% static 'eventcon-master/img/shape/shape_1.svg' %}" alt="">
                            </div>
                            <div class="shape_2 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".2s">
                                <img src="{% static 'eventcon-master/img/shape/shape_2.svg' %}" alt="">
                            </div>
                            <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Welcome to </span>
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">Eventify</h3>
                            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">Where Albania’s Best Events Come to Life!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- Upcoming Events Section Start -->
    <div class="program_details_area detials_bg_1 overlay2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                        <h3>Upcoming Events</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="program_detail_wrap">
                        {% for event in events %}
                        <div class="single_propram">
                            <div class="inner_wrap">
                                <div class="circle_img"></div>
                                <div class="porgram_top">
                                    <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">{{ event.start_time|date:"H:i" }}</span>
                                    <h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">{{ event.start_time|date:"d M, Y" }}</h4>
                                </div>
                                <div class="thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                    <a href="{% url 'ticket_details' event.id %}">
                                        <img src="{{ event.image.url }}" alt="">
                                    </a>
                                </div>
                                <h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">{{ event.name }}</h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer_start  -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="footer_widget">
                            <div class="address_details text-center">
                                <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">Tirana, Albania</h3>
                                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Check the latest events here!</p>
                                <a href="{% url 'events' %}" class="boxed-btn3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">Buy Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer_end  -->

    <!-- JS here -->
    <script src="{% static 'eventcon-master/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/popper.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/ajax-form.js' %}"></script>
    <script src="{% static 'eventcon-master/js/waypoints.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/scrollIt.js' %}"></script>
    <script src="{% static 'eventcon-master/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/wow.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/gijgo.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/nice-select.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/tilt.jquery.js' %}"></script>
    <script src="{% static 'eventcon-master/js/plugins.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'eventcon-master/js/contact.js' %}"></script>
    <script src="{% static 'eventcon-master/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/jquery.form.js' %}"></script>
    <script src="{% static 'eventcon-master/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'eventcon-master/js/mail-script.js' %}"></script>

    <script src="{% static 'eventcon-master/js/main.js' %}"></script>
</body>

</html>